/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/05/2016, 12:54:01 PM
    Author     : Orev osorio
*/


/*estilo*/

header {
	background:#2c3e50;
	color:#fff;
}

.main {
	background:#f2f2f2;
}

.color1 {
	background: #34495e;
	color:#fff;
}

aside {
	background:#c0392b;
	color:#fff;
}

footer {
	background:#16a085;
	color:#fff;
}
 

/*@media(min-width:768px) {
    body {
        padding-top: 100px;  Required padding for .navbar-fixed-top. Change if height of navigation changes. 
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}*/

 